.about-wrapper {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.about {
  background-color: #001a33;
  color: #ffffff;
  padding: 4rem 2rem;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.about h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #2c3e50;
  display: block;
  color: #ffffff;
}

.summary {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: #b0c4de;
}

.about-grid {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bio, .skills {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 8px;
}

.bio h3, .skills h3 {
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.bio p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #dbe9f4;
}

.contact-button {
  display: inline-block;
  text-align: center;
  padding: 0.8rem 1.5rem;
  background-color: #013e69;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button-wrapper {
  display: flex;
  justify-content: right;
  margin-top: 1.5rem;
}

.contact-button:hover {
  background-color: #01538d;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.project-card {
  display: flex;
  flex-direction: column;
  background-color: #0081f1;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 1.5rem;
}

.project-content h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.project-content p {
  margin-bottom: 1rem;
}

.project-content a {
  background-color: #ccbe00;
  color: white;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.project-content a:hover {
  background-color: #005fa3;
}
